*{
  font-family: 'Raleway' ;
}
body{
  height: 100dvh !important;
  overflow-x: hidden;
}
#hero {
  height: 100dvh;
  width: 100dvw;
  /* background-image: linear-gradient(135deg , #ffefa0 , #ffb49f); */
  background-image: linear-gradient(to right, #ffefa0 , #ffb49f);
}
.scroll::before{
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  width: 24dvw;
  height: 10dvw;
  /* background-color: white !important; */
  background-image: linear-gradient(to right , #ffefa0 , transparent);
}
.scroll::after{
  content: "";
  position: absolute;
  right: 0;
  z-index: 9;
  width: 24dvw;
  height: 10dvw;
  /* background-color: white !important; */
  background-image: linear-gradient(to left , #ffb49f , transparent);
}
.scrollImages{
  animation: scroll;
  position: relative;
  right: -64%;
  animation: scrollAnim 64s linear forwards;
}
.landingImage { 
  aspect-ratio: 1/1;
  max-width: 10dvw;
  object-fit: contain;
}
.product-image{
  max-height: 20dvh;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.registerbtn{
  position: relative;
}
.registerbtn:hover::before{
  opacity: 1;
  width: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.registerbtn::before{
  content: '';
  background-color: black !important;
  width: 0;
  height: 180%;
  top: -30%;
  position: absolute  ;
  opacity: 0;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -9;
}

@keyframes scrollAnim {
  50%{
    right: 100%;
  }
  100%{
    right: -64%;
  }
}
/* // */

.cart-image{
  /* background: #000; */
  width: 10dvw;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.shadowall{
  box-shadow: 2px 16px 24px 2px;
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(4px);
}